<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="WindowStateGeneratePropertyCode" value="Normal" />
        <add key="WindowWidthGeneratePropertyCode" value="950" />
        <add key="WindowHeightGeneratePropertyCode" value="550" />
    </appSettings>
</configuration>